@model UserProfileViewModel
@inject UserManager<ApplicationUser> appUser

@{ 
    Layout = "_PagesLayout";
    var email = appUser.GetUserName(User);
    var userId = appUser.GetUserId(User);
}

<section class="py-5">
    <div class="container">
        <!-- Breadcrumbs -->
        <ol class="breadcrumb pl-0  justify-content-start">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Account</a></li>
            <li class="breadcrumb-item active">Personal info   </li>
        </ol>
        <h1 class="hero-heading mb-0">Personal info</h1>
        <p class="float-md-right">User ID: @Model.UserId</p>
        <p class="text-muted mb-5">Manage your Personal info and settings here.</p>
        <div class="row">
            <div class="col-lg-7">
                <div class="text-block">
                    <div class="row mb-3">
                        <div class="col-sm-9">
                            <h5>Personal Details</h5>
                        </div>
                        <div class="col-sm-3 text-right">
                            <button class="btn btn-link pl-0 text-primary collapsed" type="button" data-toggle="collapse" data-target="#personalDetails" aria-expanded="false" aria-controls="personalDetails">Update</button>
                        </div>
                    </div>
                    <p class="text-sm text-muted"><i class="fa fa-id-card fa-fw mr-2"></i>@Model.FullName<br><i class="fa fa-birthday-cake fa-fw mr-2"></i>06/22/1980<br><i class="fa fa-envelope-open fa-fw mr-2"></i>@Model.Email<span class="mx-2"> | </span>  <i class="fa fa-phone fa-fw mr-2"></i>@Model.PhoneNumber</p>
                    <div class="collapse" id="personalDetails">
                        <form method="post" asp-action="Personal" asp-controller="User">
                            <div class="row pt-4">
                                <div class="form-group col-md-6">
                                    <label asp-for="FirstName" class="form-label" for="name">Name</label>
                                    <input asp-for="FirstName" class="form-control" type="text" id="name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="LastName" class="form-label" for="date">LastName</label>
                                    <input asp-for="LastName" class="form-control" type="text" id="date">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="email">Email address</label>
                                    <input asp-for="Email" disabled class="form-control" type="email" id="email"/>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" asp-for="PhoneNumber"></label>
                                    <input class="form-control" type="text" asp-for="PhoneNumber" id="phone">
                                </div>
                            </div>
                            <button class="btn btn-outline-primary mb-4" type="submit">Save your personal details</button>
                        </form>
                    </div>
                </div>
                <div class="text-block"> 
                    <div class="row mb-3">
                        <div class="col-sm-9">
                            <h5>Address</h5>
                        </div>
                        <div class="col-sm-3 text-right">
                            <button class="btn btn-link pl-0 text-primary collapsed" type="button" data-toggle="collapse" data-target="#address" aria-expanded="false" aria-controls="address">Change</button>
                        </div>
                    </div>
                    <div class="media text-sm text-muted">
                        <i class="fa fa-address-book fa-fw mr-2"></i>
                        <div class="media-body mt-n1">@Model.AddressLine<br>@Model.CityStateZip</div>
                    </div>
                    <div class="collapse" id="address">
                        <form asp-action="Personal" asp-controller="User">
                            <div class="row pt-4">
                                <div class="form-group col-md-6">
                                    <label asp-for="AddressLine" class="form-label">Street</label>
                                    <input asp-for="AddressLine" class="form-control" type="text" id="street">
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="form-label" for="apt">Apt. (optional)</label>
                                    <input class="form-control" type="text" id="apt">
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="City" class="form-label">City</label>
                                    <input asp-for="City" class="form-control" type="text" id="city">
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="State" class="form-label">State</label>
                                    <input asp-for="State" class="form-control" type="text" id="city">
                                </div>
                                <div class="form-group col-md-6">
                                    <label asp-for="ZipCode" class="form-label">ZIP</label>
                                    <input asp-for="ZipCode" class="form-control" type="text" id="zip" >
                                </div>
                            </div>
                            <button class="btn btn-primary">Save address</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 ml-lg-auto">
                <div class="card border-0 shadow">
                    <div class="card-header bg-primary-light py-4 border-0">
                        <div class="media align-items-center">
                            <div class="media-body">
                                <h4 class="h6 subtitle text-sm text-primary">What info is shared with others?</h4>
                            </div>
                            <svg class="svg-icon svg-icon svg-icon-light w-3rem h-3rem ml-3 text-primary">
                                <use xlink:href="#identity-1"> </use>
                            </svg>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <p class="text-muted text-sm card-text">Clara only releases contact information for hosts and guests <strong>after a reservation is confirmed</strong>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>