@model ServicesPagination<ServicesViewModel>
@{
    Layout = "_PagesLayout";
    var disablePrevious = !Model.IsPreviousPageAvailable ? "disabled" : "";
    var disableNext = !Model.IsNextPageAvailable ? "disabled" : "";
}

<div class="container-fluid py-5 px-lg-5">
    <div class="row border-bottom mb-4">
        <div class="col-12">
            <h1 class="display-4 font-weight-bold text-serif mb-4">@ViewBag.servicesTop</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 pt-3">
            <form class="pr-xl-3" action="#">
                <div class="mb-4">
                    <label class="form-label" for="form_search">Keyword</label>
                    <div class="input-label-absolute input-label-absolute-right">
                        <div class="label-absolute"><i class="fa fa-search"></i></div>
                        <input class="form-control pr-4" type="search" name="search" placeholder="Keywords" id="form_search">
                    </div>
                </div>
                <div class="mb-4">
                    <label class="form-label" for="form_neighbourhood">Location</label>
                    <input class="form-control pr-4" type="text" name="location" placeholder="Location" id="form_search">
                </div>
                <div class="mb-4">
                    <label class="form-label ml-1" for="form_category">Category</label>
                    <select class="selectpicker form-control" name="category" asp-items="@(new SelectList(ViewBag.CategoryList, "CategoryName", "CategoryName"))" id="form_category" data-style="btn-selectpicker" data-selected-text-format="count &gt; 1" title="">
                    </select>
                </div>
                
                <div class="pb-4">
                    <div class="mb-4">
                        <button class="btn btn-primary" type="submit"> <i class="fas fa-filter mr-1"></i>Search</button>
                    </div>
             </div>
            </form>
        </div>
        <div class="col-lg-9">
            <div class="d-flex justify-content-between align-items-center flex-column flex-md-row mb-4">
                <div class="mr-3">
                    <p class="mb-3 mb-md-0"><strong>@ViewBag.ServiceCount</strong> results found</p>
                </div>
                <div>
                    <label class="form-label mr-2" for="form_sort">Sort by</label>
                    <select class="selectpicker" name="sort" id="form_sort" data-style="btn-selectpicker" title="">
                        <option value="sortBy_0">Most popular   </option>
                        <option value="sortBy_1">Recommended   </option>
                        <option value="sortBy_2">Newest   </option>
                        <option value="sortBy_3">Oldest   </option>
                        <option value="sortBy_4">Closest   </option>
                    </select>
                </div>
            </div>
            <div class="row">
                @foreach (var service in Model)
                {
                    <!-- venue item-->
                    <div class="col-sm-6 col-xl-4 mb-5 hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                        <div class="card border-0 shadow">
                            <div class="card-img-top overflow-hidden dark-overlay bg-cover">
                                <img src="~/uploads/@service.ImageUrl.Trim().Split(',')[1]" class="card-img" alt="Alternate Text" />
                                <a class="tile-link" asp-action="Details" asp-controller="Service" asp-route-serviceId="@service.ServiceId" asp-route-categoryId="@service.CategoryId"></a>
                                <div class="card-img-overlay-bottom z-index-20">
                                    <h4 class="text-white text-shadow">@service.BusinessName</h4>
                                    <p class="mb-2 text-xs">
                                        <i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-gray-300"></i>
                                    </p>
                                </div>
                                <div class="card-img-overlay-top d-flex justify-content-between align-items-center">
                                    <div class="badge badge-transparent badge-pill px-3 py-2">@service.Category.CategoryName</div><a class="card-fav-icon position-relative z-index-40" href="javascript: void();">
                                        <svg class="svg-icon text-white">
                                            <use xlink:href="#heart-1"> </use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="text-sm text-muted mb-3">@service.AddressLine</p>
                                <p class="text-sm text-muted mb-3">@service.PhoneNumber</p>
                                <p class="text-sm text-muted text-uppercase mb-1">By <a href="#" class="text-dark">@service.User.UserProfile.FirstName @service.User.UserProfile.LastName</a></p>
                                <p class="text-sm mb-0">
                                    <a class="mr-1" href="#">@service.Category.CategoryName,</a><a class="mr-1" href="#">Contemporary</a>
                                </p>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <!--Pagination-->

            @if (ViewBag.ServiceCount > 6)
            {
                <ul class="justify-content-center d-flex pagination p-5">
                    <li class="page-item"><a asp-action="Services" asp-controller="Service" asp-route-PageNumber="@(Model.PageIndex - 1)" class="btn btn-primary rounded-pill @disablePrevious">Prev</a></li>
                    <li class="page-item"><h6 class="mt-2 pt-2 pl-2 pr-2">Page @Model.PageIndex of @Model.TotalPages</h6></li>
                    <li class="page-item"><a asp-action="Services" asp-controller="Service" asp-route-PageNumber="@(Model.PageIndex + 1)" class="btn btn-primary rounded-pill @disableNext">Next</a></li>
                </ul>
            }

        </div>
    </div>
</div>